.container_BannerBackground {
  height: 111px;
  display: flex;
  border-radius: 10px;
  margin: 0px 15px 0px;
  justify-content: center;

  &.aboutBanner {
    margin: 0;
  }

  .bannerBackground {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%);
  }

  p {
    position: absolute;
    left: 8%;
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
    width: 225px;
  }
}

//// Responsive /////
@media (min-width: $mobile) {
  .container_BannerBackground {
    height: 111px;
    display: flex;
    border-radius: 10px;
    margin: 0px 15px 0px;
    justify-content: center;

    &.aboutBanner {
      height: auto;
      margin: 0;
    }
  }
}

@media (min-width: $tablet) {
  .container_BannerBackground {
    align-items: center;
    height: 223px;
    border-radius: 30px;

    &.aboutBanner {
      height: 223px;
      margin: 0;
    }

    .bannerBackground {
      height: 100%;
      border-radius: 30px;
      margin: 0px 15px;
    }

    p {
      width: 80%;
      display: flex;
      justify-content: center;
    }
  }
}

@media (min-width: $desktop) {
  .container_BannerBackground {
    margin: 0px;

    .bannerBackground {
      margin: 0px;
      max-width: 1240px;
    }
  }
}

@media (min-width: $large) {
  .container_BannerBackground {
    width: 1240px;
    height: 223px;
    margin: auto;
    border-radius: 30px;

    &.aboutBanner {
      height: 223px;
      margin: auto;
    }

    .bannerBackground {
      border-radius: 30px;
    }

    p {
      font-size: 48px;
    }

    img {
      height: 223px;
    }
  }
}
